.container {
    margin: 15px 0 15px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.updatedTime {
    width: 76%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    font-family: monospace;
}

.cardStyle {
    padding: 10px;
    background-color: #1c2833;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: #4fdee5;
    font-weight: 700;
}

.labelContent {
    color: #01ff70;
    font-weight: 700;
}

@media (max-width:770px) {
    .container {
        margin: 0px 20px 5px;
        display: block;
        width: 100%;
    }
    .updatedTime {
        width: 94%;
        text-align: center;
    }
}